$space-large: 2.5rem; 
$title-colour: purple; 

.page-title {
    color: $title-colour; 
    margin-top: $space-large; 
    margin-bottom: $space-large; 
}

input[type=search] {
    box-shadow: none; 
}